.Navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    height: 10vh;
    padding: 0 2%;
}

.logo-content {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.actions-content {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.actions-content button {
    padding: .4rem 2rem;
}